#entrada {
  background: url('../../img/bg-entrada.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -6rem;
  padding-top: 6rem;

  .container {
    display: grid;
    min-height: calc(100vh - 6rem);
    position: relative;
  }

  .textos {
    margin: auto;
    text-align: center;
    padding: 5rem 0;
    position: relative;

    h1 {
      font-size: 2.5rem;
      background: linear-gradient(87.55deg, #2C2F31 0.32%, #FFFFFF 19.97%, #9A9A9A 38.83%, #FFFFFF 61.29%, #9A9A9A 77.33%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      position: relative;
      z-index: 1;
      margin-bottom: .5rem;

      span {
        background: $cor-1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    .btn {
      margin-top: 3rem;
    }

    &::before {
      content: 'Integer';
      font-family: 'Days One', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      position: absolute;
      color: $cor-2;
      font-size: 130px;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0.07;
    }
  }

  .redes {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    right: .8rem;
    bottom: 3rem;
    grid-gap: .5rem;

    a {
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center;
      @include cards;

      &:hover {
        border-color: $cor-1;
      }
    }
  }

  .sombra {
    width: 500px;
    height: 500px;
    top: -100px;
    left: calc(50% - 250px);
    filter: blur(450px);
  }
}

@media (max-width: 530px) {
  #entrada {
    .textos {
      h1 {
        font-size: 1.75rem;

        br {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #entrada {
    .textos {
      &::before {
        font-size: 60px;

        top: 2.5rem;
      }
    }
  }
}