footer {
  h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  .container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .menu-footer {
    a {
      display: block;
      + a {
        margin-top: 10px;
      }
    }
  }
  .contato-footer {
    span {
      display: block;
      + span {
        margin-top: 10px;
      }
    }
  }
  .redes-footer {
    text-align: center;
    grid-column: 1 / 4;
    margin-top: 30px;
    a {
      padding: 10px;
      img {
        width: 20px;
      }
    }
  }
  .copy-footer {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
  }
  .github-link {
    background-color: $azul1;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-left: 15px;
    }
  }
  @include d(mobile) {
    .container {
      text-align: center;
      grid-template-columns: auto;
      .logo {
        text-align: center;
        width: 100%;
      }
      .redes-footer {
        grid-column: 1;
      }
      .copy-footer {
        grid-column: 1;
      }
    }
  }
}
