#header {
  height: 6rem;
  position: relative;
  z-index: 10;

  .logo {
    color: $cor-1;
    font-size: 2rem;
    margin-right: 1rem;
  }

  nav,
  .menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .menu a+a {
    margin-left: 1rem;
  }

  .menu .espaco-cliente {
    margin-left: auto;
  }


}