#modal {
  position: relative;
  display: none;

  &.show {
    display: block;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
  }

  .modal {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    padding: 0 1rem;

    .content {
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid black;
      background: $cor-6;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      text-align: center;

      img {
        width: 100%;
      }

      p {
        margin-top: 1rem;
      }
    }

    .btn-fechar {
      @include cards;
      display: grid;
      place-items: center;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 0rem;
      right: -1.5rem;

      img {
        width: 1.2rem
      }

      &:hover {
        border-color: $cor-1;
      }
    }
  }
}