.secao-inicial {
  height: calc(100vh - 30px);
  min-height: 570px;
  max-height: 850px;
  background: $azul1;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
  .container {
    height: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(200deg, $azul1 0%, $azul2 100%);
    z-index: -1;
  }
  .banner-entrada {
    height: 100%;
    h1 {
      max-width: 500px;
      margin-top: 70px;
      margin-bottom: 40px;
    }
    .img-entrada {
      position: absolute;
      bottom: -7px;
      left: 48%;
      img {
        filter: grayscale(0.8) hue-rotate(160deg);
        width: 38vw;
        max-width: 500px;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        right: -40px;
        top: -40px;
        width: 20vw;
        height: 20vw;
        max-width: 300px;
        max-height: 300px;
        background: $rosa;
        border-radius: 50%;
        z-index: 0;
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 25px;
      background-image: url("../../img/bolinhas.svg");
      background-repeat: no-repeat;
      background-size: 40px;
      right: calc(50% - 20px);
      bottom: 30px;
    }
  }
  .endereco-header {
    position: absolute;
    bottom: 35px;
  }
  .texto {
    display: block;
  }
  @include d(medio) {
    height: calc(100vh - 10px);
    margin-bottom: 10px;
  }
  @include d(tablet) {
    &:before {
      display: none;
    }
  }
  @include d(mobile) {
    .img-entrada {
      display: none;
    }
    .banner-entrada {
      text-align: center;
      h1 {
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
      }
      &:before {
        display: none;
      }
    }
    .endereco-header {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}
