$cor-1: #59F4AA;
$cor-2: #cfcfcf;
$cor-3: #1b1e1d;
$cor-4: #191b1b;
$cor-5: #151716;
$cor-6: #1c1f1f;

@mixin cards {
  border: 1px solid black;
  background: $cor-4;
  border-radius: .2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}